html {
    background-color: #d3d3d3;
}

h2 {
    padding: 10px;
    color: mediumpurple;
}

div {
    margin: auto;
    width: 960px;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ol {
    display: block;
    list-style: none;
    margin: auto;
}



