html {
    background-color: #d3d3d3;
}

div {
    margin: auto;
    width: 960px;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

li {
    list-style: none;
}
li a {
    text-decoration: none;
}
