html {
    background-color: #d3d3d3;
}

div {
    margin: auto;
    width: 960px;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

li{
    display: inline-block;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: lightblue;
}

li a:hover {
    color: red;
}